.clearfix() {
	&::after {
		content: "";
		display: table;
		clear: both;
	}
}

.container() {
	width: 320px;
	margin: 0 auto;

	padding-right: 30px;
	padding-left: 30px;

	box-sizing: border-box;

	@media @tablet-width {
		width: 768px;
		padding-left: 50px;
		padding-right: 50px;

	}

	@media @desktop-width {
		width: 1150px;
	}
}

.out-indent() {
	margin: 0;
	padding: 0;
}

.side-padding() {
	padding-right: 30px;
	padding-left: 30px;
}

.ul_nostyle() {
	list-style: none;
}

.a_nounderline() {
	text-decoration: none;
}

.hover-active() {
	&:hover {
		opacity: .6;
	}

	&:active {
		opacity: .3;
	}	
}
