@black: #000000;
@white: #ffffff;
@tiffany-light: #63d1bb;
@tiffany-dark: #56c3b2;
@tiffany-form: #62d1ba;
@darkest-brown: #221f1f;
@dark-brown: #231f20;
@brown-about-section: #262626;
@brown: #444444;
@cream: #d3d2d2;
@pale-border: #ececec;
@bg-grey: #282828;
@bg-footer: #f1f1f1;
@social-border: #e5e5e5;

@font-Verdana: "Verdana Bold", Verdana, Arial, sans-serif;
@font-Tahoma: "Tahoma Bold", Tahoma, Arial, sans-serif;

@tablet-width: ~"(min-width: 768px)";
@desktop-width: ~"(min-width: 1150px)";
@mobile-width-only: ~"(max-width: 767px)";
