.page-footer {
	.container();

	background-color: @bg-footer;

	text-align: center;

	outline: 1px solid red;
}

.page-footer__social {
	.out-indent();

	padding-top: 20px;
	padding-bottom: 25px;
	border-bottom: 1px solid @social-border;
}

.social-links {
	display: block;
	text-decoration: none;
}

.social-link {
	display: inline-block;
	margin-right: 40px;
	line-height: 27px;

	&:last-child {
		margin-right: 0;
	}

	svg {
		text-align: center;
		fill: @darkest-brown;
	}

	&:hover svg {
		fill: @tiffany-dark-hover;
	}

	&:active svg {
		fill: @tiffany-dark-hover;
		opacity: .3;
	}
}

.page-footer__copyright {
	.out-indent();

	padding-top: 25px;
	padding-bottom: 32px;
}

.page-footer__copyright-link {
	text-decoration: none;
	font-family: @font-Verdana;
	font-size: 18px;
	line-height: 30px;	
	color: @black;

	img {
		vertical-align: middle;
		padding-left: 25px;
		opacity: .6;
	}

	&:hover img {
		opacity: 1;
	}

	&:active {
		opacity: .3;
	}
}

@media @mobile-width-only {
	.page-footer__logo {
		display: none;
	}
}

@media @tablet-width {
	.page-footer {
		display: flex;
		justify-content: space-between;
		align-items: center;		

		padding-top: 45px;
		padding-bottom: 45px;
	}

	.page-footer__logo,
	.page-footer__social,
	.page-footer__copyright {
		padding: 0;
		flex-basis: 200px;
	}

	.page-footer__logo {		
		text-align: left;
		width: 200px;
		height: 30px;	

		:hover {
			cursor: pointer;
		}

		svg:hover {
			fill: @tiffany-dark-hover;
		}

		svg:active {
			fill: @tiffany-dark-hover;
			opacity: .3;
		}
		
	}

	.page-footer__copyright {		
		text-align: right;
	}
	
}