.page-footer {
	.container();

	background-color: @bg-footer;

	text-align: center;

	outline: 1px solid red;
}

.page-footer__social {
	.out-indent();

	padding-top: 20px;
	padding-bottom: 25px;
	border-bottom: 1px solid @social-border;
}

.page-footer__copyright {
	.out-indent();

	padding-top: 25px;
	padding-bottom: 32px;

	font-family: @font-Verdana;
	font-size: 18px;
	line-height: 30px;	
}

.page-footer__copyright-link {
	-fill: @tiffany-light;
	img {
		vertical-align: middle;
		padding-left: 25px;

	}
}

@media @mobile-width-only {
	.page-footer__logo {
		display: none;
	}
}

@media @tablet-width {
	.page-footer {
		display: flex;
		justify-content: space-between;
		align-items: center;		

		padding-top: 45px;
		padding-bottom: 45px;
	}

	.page-footer__logo,
	.page-footer__social,
	.page-footer__copyright {
		padding: 0;
		flex-basis: 200px;
	}

	.page-footer__logo {		
		text-align: left;
		
	}

	.page-footer__copyright {		
		text-align: right;
	}

}