.page-header {
	.container();
	/*.clearfix();*/
	
	background-color: @white;

	text-align: center;

	-outline: 1px solid black;

}

.page-header__logo {
	margin: 0 -30px;
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid @pale-border;
	-text-align: center;
	
		a {
			.hover-active();
		}
}

.main-nav {
	position: relative;
}

.main-nav__toggle {
	position: absolute;
	top: -55px;
	right: 0;
	z-index: 2;

	display: block;
	width: 20px;
	height: 20px;
	border: none;
	outline: none;
	background-color: @white;

	cursor: pointer;
}

.main-nav__wrapper {
	overflow: hidden;
	margin-left: -30px;
	margin-right: -30px;
}

.main-nav--closed {

	.main-nav__list {
		display: none;
	}

	.main-nav__toggle::before {
		content: "";
		position: absolute;
		top:3px;
		left: 0;
		
		width: 20px;
		height: 2px;

		background-color: @darkest-brown;
		box-shadow: 0 6px 0 0 @darkest-brown,
					0 12px 0 0 @darkest-brown;
	}	
}

.main-nav--opened {
	.main-nav__toggle {
		&::before,
		&::after {
			content: "";
			position: absolute;
			top: 9px;
			left: 0;

			width: 28px;
			height: 2px;

			background-color: @darkest-brown;
		}
		&::before {
			transform: rotate(45deg);
			box-shadow: none;
		}
		&::after {
			transform: rotate(-45deg);
		}
	}
}

.main-nav--no-js {

		.main-nav__toggle {
			display: none;
		}

		.main-nav__list {
			display: block;
		}
}

.main-nav__list {
	.ul_nostyle();
	.out-indent();

	a {
		.a_nounderline();
		
		display: block;		
		padding-left: 45px;			

		font-family: @font-Verdana;
		font-size: 16px;
		line-height: 20px;
		color: @black;
		
		&[href] {
			.hover-active();
		}
	}
}

.main-nav__item {
	.out-indent();
	display: block;
	padding-top: 30px;
	padding-bottom: 34px;
	padding-left: 30px;
	padding-right: 30px;
	
	text-align: left;
	border-bottom: 1px solid @pale-border;

		
}

.main-nav__item--search,
.main-nav__item--customer {
	
	a {
		position: relative;

		svg {
			position: absolute;
			top: 0;
			left: 0;
			width: 20px;
			height: 20px;
			fill: @grey-sign;			
		}

		&:hover svg {
			fill: @tiffany-light;
		}
	}
}

.main-nav .main-nav__list--bonus { /*main-nav for cascade*/
	display: none;
}


.main-nav .main-nav__list--news { /*main-nav for cascade*/
	display: none;	
} 

@media @mobile-width-only {

	
}

@media @tablet-width {	

	.page-header {
		text-align: left;
	}

	.page-header__logo {
		margin-left: -50px;
		margin-right: -50px;
		padding-left: 50px;
		padding-right: 50px;
		padding-top: 0;
		padding-bottom: 0;
		height: 90px;
		line-height: 90px;

		img {
			vertical-align: middle;
		}
	}

	.main-nav__toggle {
		display: none;
	}

	.main-nav__list {
		position: absolute;
		z-index: 10;
	}

	.main-nav__item {
		display: inline-block;
		padding-right: 0;
		border: none;

		a {
			margin: 0;
			padding-left: 0;			
			border: none;
		}
	}


	.main-nav .main-nav__list {
		display: block;
	}

	.main-nav__list--top {
		.main-nav__item {
			padding-top: 20px;			
			padding-bottom: 0;			
		}

		a {
			font-size: 14px;
		}
	}

	.main-nav__list--bottom {
		top: -90px;
		right: 0;

		.main-nav__item {
			padding-top: 35px;
			padding-bottom: 35px;
			border-left: 1px solid @pale-border;
		}

		a {
			padding-left: 45px;
			padding-top: 0;

			&:first-child {
				height: 20px; /*for right height when text hidden*/
			}
		}
	}

	.main-nav .main-nav__list--bonus { /*.main-nav foe cascade*/
		display: block;
		right: 0;
	    
	    .main-nav__item {
			padding-top: 20px;
		}

		a {
			font-family: "Verdana";
			font-weight: normal;
			font-size: 14px;
			line-height: 24px;
			color: @brown;
		}
	}
	

	.main-nav .main-nav__list--news { /*main-nav for cascade*/
		display: none;
	}

	.mobile-visible {
		font-size: 0;		
	}
}

@media @desktop-width {
	.page-header__logo {
		text-align: center;
	}	

	.main-nav__list--top {
		top: -90px;

		.main-nav__item {
			padding-top: 35px;
			padding-bottom: 35px;
			padding-left: 35px;
			padding-right: 35px;
			border-left: 1px solid @pale-border;

			&:first-child {
				padding-left: 30px;
				border: none;
			}
		}

		a {			
			font-size: 16px;
		}
	}

	.main-nav .main-nav__list--news { /*.main-nav for cascade*/
		display: block;

		.main-nav__item {
			padding-top: 20px;
			padding-right: 30px;
		}

		a {
			font-size: 14px;
		}	
	}    
}