.week-product {	
	.clearfix();

	width: 100%;

	padding-top: 25px;
	padding-bottom: 35px;

	-background-color: @white;

	-outline: 1px solid black;
}

.week-product__name {
	.out-indent();

	text-align: center;

	font-family: @font-Verdana;
	font-size: 24px;
	line-height: 30px;
	letter-spacing: -0.1px;
}

.week-product__label {
	display: block;

	margin-top: 10px;
	margin-bottom: 30px;

	font-family: "OpenSansBold";
	font-weight: bold;
	font-size: 16px;
	line-height: 16px;
	text-transform: uppercase;
	color: @tiffany-light;
}

.week-product__description {
	font-family: "OpenSans";
	font-weight: normal;
	font-size: 14px;
	line-height: 24px;
	color: @brown;

		p {
		.out-indent();

		margin-bottom: 15px;
	}
}

.week-product__descr-table {
	.out-indent();

	width: 100%;
	line-height: 20px;
	border-collapse: collapse;

	td {
		.out-indent();

		padding-top: 10px;
		padding-bottom: 10px;
		vertical-align: center;

		border-bottom: 1px solid @pale-border;
	}
}


.week-product__buying {
	text-align: center;
}

.week-product__price {
		.out-indent();

		margin-top: 30px;
		margin-bottom: 30px;

		font-family: @font-Verdana;
		font-weight: bold;
		font-size: 16px;
		line-height: 24px;
		color: @brown;
}


@media @tablet-width {
	.week-product {
		position: relative;
		padding-top: 40px;
		padding-bottom: 50px;
	}

	.week-product__name {
		margin-bottom: 50px;
		text-align: left;

		font-size: 40px;
		line-height: 50px;
	}

	.week-product__label {
		position: absolute;
		top: 50px;
		right: 0;
		margin: 0;
		width: 120px;
		text-align: center;
	}

	.week-product__container {
		padding-right: 380px;
		width: auto;
		position: relative;
	}

	.week-product__description {
		
		p {
			font-size: 16px;
			line-height: 30px;
		}
	}

	.week-product__descr-table {
		td {
			font-size: 15px;
			line-height: 20px;
		}
	}

	.week-product__img {
		position: absolute;
		top: 0;
		right: 0;
	}

	.week-product__price {
		margin-top: 60px;

		font-size: 18px;
		line-height: 24px;
	}
}

@media @desktop-width {
	.week-product {
		padding-bottom: 65px;
		margin-left: @margin-left-desktop;
		width: auto;
	}

	.week-product__name {
		position: relative;
		z-index: 10;

		font-size: 50px;
		line-height: 57px;
	}

	.week-product__label {
		left: -155px;
	}

	.week-product__container {
		padding-right: 0;
		width: 290px;
		position: static;
	}

	.week-product__description {
		margin-bottom: 100px;
		p {
			margin-bottom: 50px;
		}
	}

	.week-product__img {
		
	}
}

